[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
invoke = "*"
bumpversion = "*"
coverage = "*"
wheel = "*"
sphinx = "*"
twine = "*"
tox = "*"
pytest = "*"

[packages]
hyperparse = {path = ".", editable = true}

[scripts]
install_formatting_packages = "pip3 install black isort"
install_linting_packages = "pip3 install pylint flake8"
